body {
    margin: 0;
    padding: 0;
    height: 1200px;
   

}

header {
    height: 570px;
    background: no-repeat center/cover url(assets/banner\ 1.png);
}

.logoinsite {
    position: absolute;
    width: 10%;
    height: 10%;
    left: 120px;
    top: 1px;
    
}

.namelogo {
    position: absolute;
    width: 429px;
    height: 35px;
    left: 195px;
    top: 6px;

    font-family: arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;

    color: #C4C4C4;

}

.whatsapp {

    position: absolute;
    width: 25px;
    height: 25px;
    left: 564px;
    top: 9px;

}

.number {

    position: absolute;
    width: 150px;
    height: 100px;
    left: 603px;
    top: 11px;

    font-family: arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;

    color: #E5E5E5;
}


.location {
    
    position: absolute;
    width: 25px;
    height: 25px;
    left: 805px;
    top: 10px;
}

.namelocation {
    position: absolute;
    width: 429px;
    height: 35px;
    left: 839px;
    top: 23px;

    font-family: arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.textfive {

    position: absolute;
    width: 439px;
    height: 35px;
    left: 135px;
    top: 220px;

    font-family: arial;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;

    color: #FF7A00;

}

.conteudo {
    position: absolute;
    width: 449px;
    height: 83px;
    left: 135px;
    top: 336px;

    font-family: arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #E5E5E5;

}

form {
    
    font-family: arial;
    font-size: 1em;
    color: #000000;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
    
}

.titulo {
    margin-left: 570px;
    font-family: arial;
    font-style: normal;
    font-weight: bolder;
    font-size: 35px;
    color: #FF7A00;
    
}

.subtitulo {
    margin-top: 20px;
    margin-left: 340px;
    font-size: 20px;
    color:black;

}

fieldset {
    margin: 0;
    border: 0;
}

input, textarea, button {
    font-size: 1em;
    border-radius: 5px;

}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #000000;
    display: block;

}
fieldset.grupo .campo {
    float: left;
    margin-right: 1em;

}


.campo input[type="text"], .campo input[type="email"], .campo textarea {
    padding: 0.2em;
    border: 1px solid #FF7A00;
    box-shadow: 2px 2px 2px rbg(0,0,0,0.2);
    display: block;
    
}
.botao {
    font-size: 1.2em;
    background: #FF7A00;;
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
}

.botao:hover {
    background: lightseagreen;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.textrodape{
    position: absolute;
    margin-top: 50px;
    margin-left: 439px;
    font-size: 20px;
    color: black;
}

.conteiner {
    margin-top: 300px;
    height: 100px;
    width: 1349px;
    background-color: #FF7A00;
}

